<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.library">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Library">
        <activity android:name=".WebsiteActivity"></activity>
        <activity android:name=".CurrentlyReadingActivity"
            android:label="@string/activity_currently_reading"/>
        <activity android:name=".FavoriteBookActivity"
            android:label="@string/activity_favourite_book"/>
        <activity android:name=".WantToReadActivity"
            android:label="@string/activity_want_to_read"/>
        <activity android:name=".AlreadyReadBookActivity"
            android:label="@string/activity_already_read_book"/>
        <activity android:name=".BookActivity"
            android:label="@string/activity_book"/>
        <activity android:name=".AllBooksActivity"
            android:label="@string/activity_all_books"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>